
/* Reset de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Contenedor central */
.container {
    max-width: 80%;
    margin: 50px auto;
    padding: 2rem;
    background-color: #1a1c2960; /* Gris claro de fondo */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Encabezados */
h1 {
    font-size: 32px;
    color: #2e384d; /* Azul marino */
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 28px;
    color: #4a5568; /* Gris oscuro */
    margin-bottom: 1rem;
}

nav {
    height: 4rem;
}
/* Formulario */
.asistencia-form {
    margin-top: 2rem;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff; /* Blanco */
}

.form-group {
    margin-bottom: 1.5rem;
    text-align: left;
}

/* Mensajes de error */
.error-messages {
    margin-top: 1.5rem;
    padding: 10px;
    background-color: #f8d7da; /* Rojo claro */
    border: 1px solid #f5c6cb; /* Rojo más claro */
    color: #721c24; /* Rojo oscuro */
    border-radius: 4px;
}

/* Tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #dee2e6; /* Gris claro */
}

th {
    background-color: #e9ecef; /* Gris muy claro */
    color: #495057; /* Gris oscuro */
}

td {
    color: #4a5568; /* Gris oscuro */
}

/* Mensajes */
.success-message {
    font-size: 18px;
    color: #155724; /* Verde oscuro */
    margin-top: 20px;
    background-color: #d4edda; /* Verde claro */
    padding: 10px;
    border-radius: 4px;
}

/* Tarjetas */
.card {
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #ffffff; /* Blanco */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Paginación */
.pagination-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination-links ul {
    display: flex;
    list-style: none;
}

.pagination-links a {
    margin: 0 5px;
    padding: 8px 12px;
    background-color: #17a2b8; /* Turquesa */
    color: white;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.pagination-links a:hover {
    background-color: #138496; /* Turquesa oscuro */
}

/* Footer */
.footer {
    padding: 1rem 0;
    color: #6c757d; /* Gris oscuro */
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto; /* Para que el footer se mantenga en la parte inferior */
}

.footer a {
    color: #17a2b8; /* Turquesa */
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline; /* Subrayar al pasar el mouse */
}